<%if @AllTasks.empty? %>
  <p style="color: blueviolet;font-weight: bold;font size:50px;text-align: center;margin-top: 3%;"><%=@msgForNOTODO%> </p>
<%else%>
  <%if @allTaskView != "monthView"%>
      <% @AllTasks.each do |task| %>
        <%next if task.id== nil%>
        <%if @allTaskView == "AllView"%>
          <div class="taskDisplay">
        <%else%>
          <div class="taskDisplay" style="margin:0 35%;">
      <% end%>
            <span style="width:5%;"> <input  id='task_<%=task.id%>' name='<%=task.id%>' type="checkbox" value='<%=task.status%>' class="doneCheck" /></span>
            <span style="width:40%;"><%= task.taskToDO %></span>
            <%if @allTaskView == "AllView"%>
              <span style="width:30%;">Date:<%= task.date.strftime("%d/%m/%Y")  %></span>
           <%end%>
            <span style="width:5%;"><%= link_to image_tag("delete.png"), user_to_do_task_path(@user, task), title: 'Delete Task', data: {:confirm => 'Are you sure?'}, :method => :delete %></span>
          </div>
      <%end%>
  <%elsif @monthView != nil%>
    <%@monthView.each do|key,list|%>
      <h4 style="color:coral;text-align: center;" ><%= key%></h4>
        <%list.each do |task|%>
          <%next if task.id== nil%>
          <div class="taskDisplay" style="margin:0 35%;">
            <span style="width:5%;"><input  id='task_<%=task.id%>' name='<%=task.id%>' type="checkbox" value='<%=task.status%>' class="doneCheck" /></span>
            <span style="width:40%;"><%= task.taskToDO.to_s %></span>
            <span style="width:5%;"><%= link_to image_tag("delete.png"), user_to_do_task_path(@user, task), title: 'Delete Task', data: {:confirm => 'Are you sure?'}, :method => :delete %></span>
          </div>
        <%end%>
    <%end%>
  <%end%>
<%end%>