



<div id="addToDoTask" >
  <p style="color: white;font-weight: bold;font size:50px;text-align: center;">TO DO Day View</p>
  <table style="margin:0 36%">
    <tr>
      <td><a href="#" id="oneDayBack"><%= image_tag("next.png" , class: "oneDayBack")%></a></td>
      <td><input type="text" name="selected[date]" id="selectedDay" data-id='<%= @user.id%>' data-placeholder="Date of birth" value="<%= @date%>"></td>
      <td><a href="#" id="oneDayFwd"><%= image_tag("next.png", class: "oneDayFwd") %></a></td>
    </tr>
  </table>
<div id="displayDailytasks">

</div>

</div>
<%= link_to 'Back', new_user_to_do_task_path %>
