
<div id="addToDoTask" >
  <%= link_to 'Back', user_to_do_task_index_path %>

  <p style="color: white;font-weight: bold;font size:50px;text-align: center;">TODO Day View</p>

  <div style="margin:0 32%">
    <span ><%= image_tag("next.png" , class: "oneDayBack")%></span>
    <span><input type="text" name="selected[date]" id="selectedDay" data-id='<%= @user.id%>' data-placeholder="Date of birth" value="<%= @date%>"></span>
    <span><%= image_tag("next.png", class: "oneDayFwd") %></span>
  </div>

  <div id="displayDailytasks"  style="margin-top: 3%;">
  </div>
</div>

<script>

    $( function() {
        $( "#selectedDay" ).datepicker();
    } );

    ////day view
    $('.oneDayBack').on("click", function () {
        getDayToDisplay("oneDayBack");
    });

    $('.oneDayFwd').on("click", function () {
        getDayToDisplay("oneDayFwd");
    });
    getDayToDisplay("onLoad");

    $("#selectedDay").change(function() {
        getDayToDisplay("onLoad");
    });

    function getDayToDisplay(type) {
        var myVariable = $('#selectedDay').val();
        // var myVariable = "jan 2014"
        var makeDate = new Date(myVariable);
        if (type == "oneDayBack"){
            makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));}
        else if(type == "oneDayFwd"){
            makeDate = new Date(makeDate.setDate(makeDate.getDate() + 1));}
        else if(type == "onLoad"){
            makeDate = new Date(makeDate.setDate(makeDate.getDate() ));}

        var dateToSend =(makeDate.getMonth() + 1) + "/" + makeDate.getDate() + "/" + makeDate.getFullYear()

        $('#selectedDay').val(dateToSend);

        var userId = $('#selectedDay').attr('data-id');
        $.ajax({
            url: '/to_do_task/refreshDayView',
            type: 'post',
            data: {'selectedDay' :dateToSend,'user_id' : userId },
            success: function( data ){
                $("#displayDailytasks").html(" ").html(data);
                eachDoncheck();

            }
        });
    }
</script>