<%= javascript_include_tag "to_do_task" %>
  <div id="addToDoTask" >
  <p style="color: white;font-weight: bold;font size:50px;text-align: center;">Add New Task</p>
    <%= form_for(@user.to_do_tasks.build, as: @user.to_do_tasks.build, :url => { :controller => "to_do_task", :action => "create" }) do |form| %>
      <table style="width:94%;margin:0 3%;">
        <tr>
          <td><%= form.text_field :taskToDO %></td>
          <td> <%= form.date_field :date%></td>
          <td> <%= form.submit "Add Task"%></td>
        </tr>
      </table>
    <% end %>
  </div>

  <div id="showAllToDoTask">
    <p style="color: white;font-weight: bold;font size:50px;text-align: center;">All TO DO Task</p>
    <%if @user.to_do_tasks.count == 0 %>
      <p style="color: blueviolet;font-weight: bold;font size:50px;text-align: center;">No todos,May be you need to add some. </p>

    <%else%>
      <%= render 'to_do_task/formForAllTask' %>
    <%end%>

  </div>

  <div id="showAllToDoTask" >
    <%= link_to "TO DO Day VIEW", user_to_do_task_displayDayView_path %>
  </div>
  <div id="showAllToDoTask" >
    <%= link_to "TO DO Month VIEW", user_to_do_task_displayMonthView_path%>
  </div>
