
  <div id="addToDoTask" >
  <p style="color: white;font-weight: bold;font size:50px;text-align: center;">Add new Task</p>
    <%= form_for(@user.to_do_tasks.build, as: @user.to_do_tasks.build, :url => { :controller => "to_do_task", :action => "create" }) do |form| %>

      <div style="width:70%;margin:0 15%;">
        <span><%= form.text_field :taskToDO ,placeholder:"What needs to be done?"%></span>
        <!--<span><%#= form.date_field :date%></span>-->
        <span><%= form.text_field :date, placeholder:"Select date" %></span>

        <span><%= form.submit "Add Task"%></span>
      </div>

      <% if @toDoTask && @toDoTask.errors.any? %>
        <% @toDoTask.errors.full_messages.each do |msg| %>
          <p style="color: red;font-weight: bold;font size:50px;text-align: center;"><%= msg %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>

