<!DOCTYPE html>
<html>
<head>
  <title>HelpIndia</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <%= stylesheet_link_tag "to_do_task" %>
  <%#= javascript_include_tag "to_do_task", async: true %>


</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Help India</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/try_react_rable/index">contact us</a></li>
        <li><a href="/welcome/works">works</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">




        <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <%if !current_user.blank? %>
          <li><a href="/users/sign_out"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
        <%end%>
      </ul>
    </div>
  </nav>
  <div>
    <p ><%= notice %></p>
    <p ><%= alert %></p>
  </div>
  <!--<div>-->
    <!--<h1 style="text-align: center;color: crimson;">WELCOME TO HELP INDIA</h1>-->
  <!--</div>-->
<%= yield %>

</body>
</html>

